{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "transform": {
      "optimizer": {
        "jsonify": {
          "minCost": 0
        }
      }
    },
    "target": "es5"
  },
  "sourceMaps": true,
  "minify": true,
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false,
    "ignoreDynamic": false
  }
}