{
  "$schema": "http://json.schemastore.org/swcrc",
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "minify": {
      "mangle": true,
      "compress": {
        "passes": 4
      }
    },
    "transform": {
      "optimizer": {
        "jsonify": {
          "minCost": 1024
        }
      }
    },
    "target": "es2022"
  },
  "sourceMaps": true,
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}
